
<!-- PROFILE PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container ac-container">
            <div class="navbar-header">
                <!-- Page Title -->
                <a class="navbar-brand">
                    Account
                </a>
                <!-- Save Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateUser()" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>

<!-- Main Container -->
<div class="container ac-nav-allow">
    <!-- Success Message -->
    <div ng-if="model.success" class="alert alert-success">
        {{model.success}}
    </div>
    <!-- Error Message -->
    <div ng-if="model.failure" class="alert alert-danger">
        {{model.failure}}
    </div>
    <!-- Profile information form -->
    <form>
        <!-- Username -->
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   class="form-control"
                   type="text"
                   id="username"
                   disabled
                   placeholder="username">
        </div>
        <!-- Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="model.user.email"
                   class="form-control"
                   type="email"
                   id="email"
                   placeholder="email">
        </div>
        <!-- First Name -->
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   class="form-control"
                   type="text"
                   id="first-name"
                   placeholder="first name">
        </div>
        <!-- Last Name -->
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   class="form-control"
                   type="text"
                   id="last-name"
                   placeholder="last name">
        </div>
    </form>
    <!-- HomePage Link Button -->
    <a ng-href="#/user/{{model.uid}}"
       role="button"
       class="btn btn-block btn-primary btn-lg">Home Page</a>
    <!-- Logout Button -->
    <a ng-click="model.logout()"
       role="button"
       class="btn btn-block btn-warning btn-lg">Logout</a>
    <!-- Unregister Button -->
    <a ng-click="model.unregister()"
       role="button"
       class="btn btn-block btn-danger btn-lg">Delete Profile</a>

</div>
<!-- Footer Navigation Bar -->
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
</footer>