<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Home Page
                </a>
                <!-- Search Button -->
                <p class="navbar-text pull-right" id="search-glyph-container">
                    <a role="button"
                       ng-href="#/search"
                       class="btn btn-lg btn-block btn-info"><span class="glyphicon glyphicon-search"></span></a>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<div class="container ac-nav-allow">
    <div ng-if="model.user.poster" class="row">
        <button ng-click="" class="btn btn-lg btn-block btn-primary">Post New Event</button>
        <div class="col-sm-6 col-sm-offset-1">
            <div class="row">
                <h1>
                    Events Posted
                </h1>
            </div>
            <div class="row">
                <h3><a ng-href="#/event/343242">Posted Event 1</a></h3>
                <h3><a>Posted Event 2</a></h3>
                <h3><a>Posted Event 3</a></h3>
                <h3><a>Posted Event 4</a></h3>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <h1>
                    Events Following
                </h1>
            </div>
            <div class="row">
                <h3><a>Event 1</a></h3>
                <h3><a>Event 2</a></h3>
                <h3><a>Event 3</a></h3>
                <h3><a>Event 4</a></h3>
            </div>
        </div>
    </div>

    <div ng-if="!model.user.poster" class="row">
        <h1>
            Here are your followed events
        </h1>
        <ul>
            <h3><a>Event 1</a></h3>
            <h3><a>Event 2</a></h3>
            <h3><a>Event 3</a></h3>
            <h3><a>Event 4</a></h3>
        </ul>
    </div>
</div>
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Login Button -->
                <p ng-if="model.loggedIn" class="navbar-text pull-right">
                    <a href="#/login" class="navbar-link">
                        <a role="button" ng-href="#/login" class="btn btn-lg btn-block btn-primary">Login</a>

                    </a>
                </p>
                <!-- Account Button -->
                <p ng-if="!model.loggedIn" class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/account" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p ng-if="!model.loggedIn" class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/messages" class="navbar-link">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>