<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Home Page
                </a>
                <!-- Search Button -->
                <p class="navbar-text pull-right" id="search-glyph-container">
                    <a role="button"
                       ng-href="#/search"
                       class="btn btn-lg btn-block btn-info"><span class="glyphicon glyphicon-search"></span></a>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<div class="container ac-nav-allow">
    <!-- Visible to Posters only -->
    <div ng-if="model.user.poster" class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="row">
                <h2>Organizations</h2>
            </div>
            <div>
                <button ng-click="model.addOrganization()" class="btn btn-lg btn-primary">Add New Organization</button>
            </div>
            <div class="row" ng-if="model.organizations.length === 0">
                <h3>You don't have any organizations!</h3>
            </div>
            <div ng-repeat="org in model.organizations" class="row">
                <h3 class="ac-no-wrap-row">
                    <a ng-href="#/organization/{{org._id}}">{{org.name}}</a>
                </h3>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <h2>Events Following</h2>
            </div>
            <div class="row">
                <a href="#/search" role="button" class="btn btn-lg btn-primary">Find New Events!</a>
            </div>
            <div class="row" ng-if="model.futureEvents.length === 0">
                <h3>You aren't following upcoming events!</h3>
            </div>
            <div ng-repeat="event in model.futureEvents" class="row">
                <h3 class="ac-no-wrap-row">
                    <a ng-click="model.goToEvent(event._id)">{{event.name}}</a>
                </h3>
            </div>
            <div class="row" ng-if="model.pastEvents.length > 0">
                <h3>Past Events</h3>
            </div>
            <div ng-repeat="event in model.pastEvents" class="row">
                <h3 class="ac-no-wrap-row">
                    <a ng-click="model.goToEvent(event._id)">{{event.name}}</a>
                </h3>
            </div>
        </div>
    </div>
    <!-- Visible to Regular Users only -->
    <div ng-if="!model.user.poster" class="row">
        <h1>Events Following</h1>
        <div class="row">
            <a href="#/search" role="button" class="btn btn-lg btn-primary">Find New Events!</a>
        </div>
        <div class="row" ng-if="model.user.followed.length === 0">
            <h3>You aren't following any events!</h3>
        </div>
        <div ng-repeat="event in model.user.followed" class="row">
            <h3 class="ac-no-wrap-row">
                <a ng-click="model.goToEvent(event._id)">{{event.name}}</a>
            </h3>
        </div>
    </div>
</div>
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Account Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/account" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
                <!-- Message Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/messages" class="navbar-link">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>