<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Home Page
                </a>
                <!-- Search Button -->
                <p class="navbar-text pull-right" id="search-glyph-container">
                    <a role="button"
                       ng-href="#/search"
                       class="btn btn-lg btn-block btn-info"><span class="glyphicon glyphicon-search"></span></a>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<div class="container ac-nav-allow">
    <!-- Visible to Posters only -->
    <div ng-if="model.user.poster" class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <div class="row">
                <h1>Organizations</h1>
            </div>
            <div>
                <button ng-click="model.addOrganization()" class="btn btn-lg btn-primary">Add New Organization</button>
            </div>
            <div ng-repeat="org in model.organizations" class="row">
                <h3><a ng-href="#/organization/{{org._id}}">{{org.name}}</a></h3>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="row">
                <h1>
                    Events Following
                </h1>
            </div>
            <div ng-repeat="event in model.user.followed" class="row">
                <h3><a ng-href="#/event/{{event._id}}">{{event.name}}</a></h3>
            </div>
        </div>
    </div>
    <!-- Visible to Regular Users only -->
    <div ng-if="!model.user.poster" class="row">
        <h1>
            Here are your followed events
        </h1>
        <div ng-repeat="event in model.user.followed" class="row">
            <h3><a ng-href="#/event/{{event._id}}">{{event.name}}</a></h3>
        </div>
    </div>
</div>
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Account Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/account" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/messages" class="navbar-link">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>