<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/user/{{model.uid}}/" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Messages
                </a>
            </div>
        </div>
    </nav>
</header>
<div class="container ac-nav-allow">
    <!-- Repeated template -->
    <div ng-repeat="message in model.user.messages"
         class="row"
         ng-class="{ 'has-error': model.isManager(model.organization)}">
        <div ng-if="model.messageDict[message._id].notDeleted">
            <h3>{{message.name}}</h3>
            <!-- Toggle message button -->
            <button ng-click="model.toggleMessage(message._id)"
                    class="btn btn-warning ac-message-button">Show Message</button>
            <button ng-click="model.deleteMessage(message._id)"
                    class="btn btn-danger ac-message-button">Delete Message</button>
            <!-- default hidden message and reply container -->
            <div ng-if="model.messageDict[message._id].toggled"
                 class="ac-message-container">
                <!-- Organization Message pertains to -->
                <h3>{{message.organization}}</h3>
                <!-- Message Body -->
                <p>{{message.message}}</p>
                <!-- Reply text field -->
                <textarea rows="3"
                          ng-model="model.messageDict[message._id].reply"
                          class="form-control ac-no-resize-input"></textarea>
                <!-- Reply button -->
                <button ng-click="model.replyMessage(message.from, message._id, message.organization)"
                        class="btn btn-lg btn-block btn-primary">Reply</button>
            </div>
        </div>

    </div>
</div>
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Account Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/account" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
                <!-- Message Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/messages" class="navbar-link">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </p>    
            </div>
        </div>
    </nav>
</footer>