<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/user/{{model.uid}}/" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Messages
                </a>
            </div>
        </div>
    </nav>
</header>
<div class="container ac-nav-allow">
    <div class="row">
        <h3>RedSoxFan1</h3>
        <button class="btn btn-warning">Show Message</button>
    </div>
    <div class="row">
        <h3>Warlizard</h3>
        <button class="btn btn-warning">Show Message</button>
    </div>
    <div class="row">
        <h3>GoTWarrior</h3>
        <button class="btn btn-warning">Show Message</button>
    </div>
    <div class="row">
        <h3>PartyAllNite</h3>
        <button class="btn btn-warning">Show Message</button>
    </div>
</div>
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Account Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/account" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>