<!-- REGISTER PAGE -->
<!-- Main Container -->
<div class="container">
    <!-- Success Message -->
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1>Register</h1>
    <!-- Registration form -->
    <div ng-keyup="$event.keyCode == 13 && model.register(username, password, verify)">
        <!-- Username -->
        <div class="form-group">
            <input ng-model="username"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="username">
        </div>
        <!-- Password -->
        <div class="form-group">
            <input ng-model="password"
                   type="password"
                   class="form-control"
                   id="password"
                   placeholder="password">
        </div>
        <!-- Verify Password -->
        <div class="form-group">
            <input ng-model="verify"
                   type="password"
                   class="form-control"
                   id="ver-password"
                   placeholder="verify password">
        </div>
    </div>
    <!-- Create Poster
    <div class="ac-form-group form-group">
        <input class="ac-checkbox" type="checkbox" id="check">
        <label for="check">Register as Event Poster</label>
    </div>
    <!-- Register Button -->
    <a ng-click="model.register(username, password, verify)"
       role="button"
       class="btn btn-block btn-primary btn-lg">Register</a>
    <!-- Cancel Button -->
    <a ng-click="model.goBack()"
       role="button"
       class="btn btn-block btn-danger btn-lg">Cancel</a>
</div>
