<!-- Organization-EDIT PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/user/{{model.uid}}" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Add Organization
                </a>
                <!-- Save and Confirm Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.createOrganization()" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container ac-nav-allow">
    <!-- Error Message -->
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <!-- Organization Details Form -->
    <form name="oEditForm">
        <!-- Organization Name -->
        <div class="form-group"
             ng-class="{ 'has-error': oEditForm.name.$error.required && model.error}">
            <label for="name">Organization Name</label>
            <input ng-model="model.org.name"
                   class="form-control"
                   type="text"
                   name="name"
                   id="name"
                   required
                   placeholder="Name">
            <label for="name"
                   class="control-label"
                   ng-show="oEditForm.name.$error.required && model.error">Name is required</label>
        </div>
        <!-- Organization Number -->
        <div class="form-group">
            <label for="org-phone">Contact Number</label>
            <input ng-model="model.org.phone"
                   class="form-control"
                   type="tel"
                   name="org-phone"
                   id="org-phone"
                   placeholder="Phone Number">
        </div>
        <!-- Organization Location -->
        <div class="form-group">
            <label for="org-location">Office Location</label>
            <input class="form-control"
                   type="text"
                   name="org-location"
                   id="org-location"
                   placeholder="Location">
        </div>
        <!-- Organization Description -->
        <div class="form-group">
            <label for="org-desc">Organization Description</label>
            <textarea ng-model="model.org.description"
                      class="form-control"
                      name="org-desc"
                      rows="5"
                      id="org-desc"
                      placeholder="Organization Description"></textarea>
        </div>
    </form>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Account Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}/account" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>
