<!-- WEBSITE LIST PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Websites
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user/1/website/add" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- Example Sites hardcoded -->
    <!-- ac-row allows the glyphicons to work -->
    <div class="row ac-row" ng-repeat="site in model.websites">
        <!-- stops website title from overlapping with glyphicon -->
        <div class="col-xs-9">
            <h3><a href="#/user/{{model.userId}}/website/{{site._id}}/page">{{site.name}}</a></h3>
        </div>
        <!-- groups glyphicons and positions them relative to ac-row -->
        <div class="ac-glyphicon-container">
            <!-- edit button -->
            <a href="#user/{{model.userId}}/website/{{site._id}}">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <!-- pages button, ignore for assignment2 -->
            <a href="#/user/{{model.userId}}/website/{{site._id}}/page">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>
    </div>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Link -->
                <p class="navbar-text pull-right">
                    <a href="#/user/" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Website-list link to improve user experience -->
                <p class="navbar-text pull-right">
                    <a href="#/user/1/website" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>