<!-- WEBSITE NEW PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/user/{{model.userId}}/website" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    New Website
                </a>
                <!-- Confirm and Save Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.createWebsite(name,description)"
                       class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>

<!-- Main Container -->
<div class="container">
    <!-- Warning Message -->
    <div ng-if="model.missingName" class="alert alert-danger">
        {{model.missingName}}
    </div>
    <!-- Website Details -->
    <form>
        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="name"
                   class="form-control"
                   type="text"
                   id="name"
                   placeholder="Name">
        </div>
        <!-- Description -->
        <div class="form-group">
            <label for="desc">Description</label>
            <textarea ng-model="description"
                      class="form-control"
                      rows="6" id="desc"
                      placeholder="Description"></textarea>
        </div>
    </form>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Link -->
                <p class="navbar-text pull-right">
                    <a ng-href="#/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Website-list link to improve user experience -->
                <p class="navbar-text pull-right">
                    <a href="/user/1/website" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>