<!-- WEBSITE EDIT PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/user/{{model.userId}}/website" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Edit Website
                </a>
                <!-- Save Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateWebsite()"
                       class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- Warning Message -->
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <!-- Website information form -->
    <form>
        <!-- Website Name -->
        <div class="form-group">
            <label for="username">Name</label>
            <input ng-model="model.website.name"
                   type="text"
                   class="form-control"
                   id="username"
                   placeholder="Name"/>
        </div>
        <!-- Website Description -->
        <div class="form-group">
            <label for="description">Description</label>
            <textarea ng-model="model.website.description"
                      rows="8"
                      id="description"
                      class="form-control"
                      placeholder="Description"></textarea>
        </div>
    </form>
    <!-- Delete Button -->
    <div class="row">
        <div class="col-xs-12">
            <a ng-click="model.deleteWebsite()"
               role="button"
               class="btn btn-danger btn-block btn-lg">Delete</a>
        </div>
    </div>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- From wireframe, unspecified as of assignment 2 -->
                <p class="navbar-text pull-left">
                    <a ng-href="#" class="navbar-link">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                </p>
                <!-- Profile Link -->
                <p class="navbar-text pull-right">
                    <a ng-href="#/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>