<!-- Header Nav -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back Button -->
                <p class="navbar-text pull-left">
                    <a href="#/" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    <!-- {{model.name}} -->
                    Events
                </a>
            </div>
        </div>
    </nav>
</header>
<!-- Container -->
<div class="container ac-nav-allow">
    <!-- Search Bar -->
    <div class="row">
        <div class="col-xs-12">
            <!-- Search Text Input -->
            <form ng-keyup="$event.keyCode == 13 && model.searchType === 'name' && model.searchName()">
                <div class="form-group ac-form-group">
                    <label for="search">Search for events near you!</label>
                    <input ng-if="model.searchType === 'location'"
                           type="text"
                           id="search"
                           placeholder="enter location"
                           class="form-control">
                    <input ng-if="model.searchType === 'name'"
                           ng-model="model.searchTerm"
                           type="text"
                           id="searchName"
                           placeholder="enter name"
                           class="form-control">
                </div>
            </form>
            <!-- Search options -->
            <div class="radio-inline">
                <label><input type="radio" ng-model="model.searchType" value="location">Location</label>
            </div>
            <div class="radio-inline">
                <label><input type="radio" ng-model="model.searchType" value="name">Name</label>
            </div>
            <!-- Button for name search -->
            <button ng-show="model.searchType === 'name'"
                    ng-click="model.searchName()"
                    class="btn btn-lg btn-block btn-primary">Submit</button>
        </div>
    </div>
    <!-- Main content -->
    <div class="row">
        <!-- Map -->
        <div class="col-md-6 col-xs-12" ng-show="model.searchType === 'location'">
            <div id="map" class="ac-map-box"></div>
        </div>
        <!-- Title Row -->
        <div id="title-row">
            <div ng-class="{'col-xs-3': model.searchType === 'location',
        'col-xs-6': model.searchType === 'name'}">
                <div ng-class="{'col-xs-6': model.searchType === 'location'}">
                    <h1>Name</h1>
                </div>
            </div>
            <div ng-class="{'col-xs-3': model.searchType === 'location',
        'col-xs-6': model.searchType === 'name'}">
                <div ng-class="{'col-xs-6': model.searchType === 'location'}">
                    <h1>Date</h1>
                </div>
            </div>
        </div>
        <!-- Search Results -->
        <div ng-class="{'ac-search-results': model.searchType === 'location',
        'col-md-6': model.searchType === 'location'}">
            <!-- Event repeat -->
            <div ng-repeat="event in model.visibleEvents">
                <!-- Name -->
                <div class="col-sm-6 col-xs-12">
                    <h1>
                        <a ng-href="#/event/{{event._id}}">
                            {{event.name}}
                        </a>
                    </h1>
                </div>
                <!-- Date -->
                <div class="col-sm-6 col-xs-12">
                    <h1>
                        {{event.formattedDate}}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Login Button -->
                <p ng-if="!model.user" class="navbar-text pull-right">
                    <a role="button" ng-click="model.goToLogin()"
                       class="btn btn-lg btn-block btn-primary">Login</a>
                </p>
                <!-- Account Button -->
                <p ng-if="model.user" class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}/account" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p ng-if="model.user" class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
                <!-- Message Button -->
                <p ng-if="model.user" class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}/messages" class="navbar-link">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>