<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back Button -->
                <p class="navbar-text pull-left">
                    <a href="#/" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    <!-- {{model.name}} -->
                    Events
                </a>
            </div>
        </div>
    </nav>
</header>
<!-- Make fixed map that flows down with page -->
<div class="container ac-nav-allow">
    <div class="row">
        <form>
            <div class="form-group ac-form-group">
                <label for="search">Search for an event near you!</label>
                <input ng-model="searchTerm" type="text" id="search" class="form-control">
            </div>
        </form>
        <button ng-click="model.searchMap(searchTerm)"
                class="btn btn-lg btn-block btn-primary">Submit</button>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="map" class="ac-map-box"></div>
        </div>
        <div class="col-md-6">
                <h1 ng-repeat="event in model.visibleEvents"><a ng-href="#/event/{{event._id}}">{{event.name}}</a></h1>
        </div>
    </div>
</div>


<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Login Button -->
                <p ng-if="!model.user" class="navbar-text pull-right">
                    <a role="button" ng-click="model.goToLogin()"
                       class="btn btn-lg btn-block btn-primary">Login</a>
                </p>
                <!-- Account Button -->
                <p ng-if="model.user" class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}/account" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p ng-if="model.user" class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
                <!-- Message Button -->
                <p ng-if="model.user" class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/messages" class="navbar-link">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>