html {
    font-size: 18px;
}

/* standardize fonts, background color */
body {
    text-align: center;
    font-family: Rockwell, Georgia, sans-serif;
    background-color: #e6e6fa;
    list-style: none;
    font-size: 16px;
}

/* clear hyperlink formatting */
a {
    text-decoration: none;
    color: inherit;
}

/*_ image formatting */
img {
    /* for mobile */
    max-width: 100%;
    margin-bottom: 10px;
}

.row {
    margin: 0;
}


#links .btn.btn-primary:hover {
    color: cornflowerblue;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#links .btn.btn-primary {
    background-color: cornflowerblue;
    color: white;
    font-size: 25px;
    transition: background-color 100ms ease-out;
    margin-bottom: 10px;
}

@media only screen and (max-device-width: 550px) {
    html {
        font-size: 25px;
    }

    #profile-pic {
        height: 9em;
        width: 9em;
    }

}

/* for all phones bigger than an iphone 5 */
@media only screen and (min-device-height: 640px) {
    .btn.btn-block {
        height: 2.6em;
    }
}

/* for all phones bigger than an iphone 5 */
@media only screen and (max-device-height: 639px) {
    .btn.btn-block {
        height: 1.9em;
    }
}


/* media controller for mobile (and tablet) screens */
@media only screen and (max-device-width: 770px) {
    /* make text more readable */
    body {
        font-size: 100%;
    }

}

