/* standardize fonts, background color */
body {
    text-align: center;
    font-family: Rockwell, Georgia, sans-serif;
    background-color: #e6e6fa;
    list-style: none;
    font-size: 18px;
}

/* clear hyperlink formatting */
a {
    text-decoration: none;
    color: inherit;
}

/*_ image formatting */
img {
    /* for mobile */
    max-width: 100%;
}

/* input box formatting */
input, textarea {
    /* for mobile */
    max-width:100%
}

/* link-buttons */
.link-button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 0.75em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    height: 30px;
    font-size: 25px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}

/* hover view */
.link-button:hover {
    color: cornflowerblue;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* media controller for mobile (and tablet) screens */
@media only screen and (max-device-width: 770px) {
    /* make text more readable */
    body {
        font-size: 100%;
    }
    /* make button easier to tap and read */
    .link-button {
        height: 100%;
        font-size: 35px;
        width: 75%
    }
    /* make image scale effectively */
    #profile-pic {
        width: 330px;
        position: relative;
        align-content: center;
    }


}

