/***** general page layout *****/
body {
    /* clear navbar */
    padding-top: 80px;
    padding-bottom: 80px;
    /* display properly */
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* highlight glyphicons when focused for clarity */
a .glyphicon:hover {
    color: red;
}

/* potentially useful class */
.ac-full-width {
    width: 100%;
}

/***** NAVBAR *****/

/* Make navbar white */
.navbar {
    background-color: #5d5d5d;
    border-color: #808080;
    padding-left: 10px;
    padding-right: 10px;
}

/* Give sufficient padding from right screen border */
.navbar.navbar-fixed-bottom {
    padding-right: 20px;
}

/* Space to tap footer glyphicons */
.navbar.navbar-fixed-bottom .glyphicon{
    padding-left: 1em;
}

/* Navbar text is white */
.navbar .glyphicon, .navbar .navbar-brand {
    color: white;
}

/* Override default bootstrap setting */
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: white;
}

/* Profile button should still be blue */
.navbar .glyphicon-user {
    color: #337ab7;
}

/* Make header text more readable */
.navbar-brand {
    font-size: 2em;
    line-height: inherit;

}

/* Standardize header size and stop right
   glyphicons from floating left */
nav>.container>.navbar-header {
    float: none;
    height: 65px;
    margin-right: 0px;
}

/***** Main Content *****/

/* position glyphicons in "...-list" pages to the right */
.ac-glyphicon-container {
    position: absolute;
    margin-top: 19px;
    background: white;
    border-style: solid;
    border-bottom-left-radius: 12px;
    border-width: 4px;
    border-color: white;
    right: 12px;
}

/* Content glyphicon sizing */
.ac-glyphicon-container .glyphicon {
    font-size: 2.5em;
}

/* allow ac-glyphicon-containers to position relative to rows */
.ac-row {
    position: relative;
}

/* Align youtube videos and images like other content */
.ac-row .embed-responsive, .ac-row img {
    margin-top: 20px;
    width: 100%;
}

/* whitespace between button blocks */
a.btn-block {
    margin-bottom: 6px;
}

/***** Text Font Sizes *****/
/* increase font size for clarity */

/* Align paragraphs like other content, increase size for clarity */
p {
    margin-top: 20px;
    font-size: 1.75em;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.3em;
}


/***** MEDIA QUERIES ******/

/* Medium sized screens (tablets)
   They act weird with bootstrap for some reason */
@media only screen and (max-device-width: 440px) {

    h1 {
        font-size: 4.2em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2.5em;
    }

    p {
        font-size: 2em;
    }

}