
.col-xs-2, .col-xs-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.glyphicon {
    font-size: 1.5em;
    margin-top: 15px;
    margin-left: 0px;
}

.glyphicon-chevron-left, .glyphicon-plus, .glyphicon-ok {
    font-size: 2.5em;
}


a .glyphicon:hover {
    background-color: yellow;
}

p {
	margin-top: 20px;
}

img, iframe {

	max-width: 100%;
}

a.btn-block {
    margin-bottom: 6px;
    text-align: center;
    box-shadow: inset 0px 0px 5px 0px black;
}

a.btn-block:hover {
    text-decoration: none;
}

h1 {
    font-size: 4em;
}



@media only screen and (max-device-width: 370px) {

    .glyphicon-cog, .glyphicon-align-justify {
        font-size: 1em;
    }





}