.glyphicon-container {
    white-space: nowrap;
    position: relative;
    right: 5px;
}

.widget-row > .glyphicon-container {
    /*
    margin-left: -4em;
    */
    background-color: white;

}

.glyphicon {
    font-size: 2em;
    margin-top: 15px;
    margin-left: 0px;
}

.glyphicon-chevron-left, .glyphicon-plus, .glyphicon-ok {
    font-size: 2.5em;
}


a .glyphicon:hover {
    background-color: yellow;
}

p {
	margin-top: 20px;
    font-size: 2em;
}

img, iframe {

	max-width: 100%;
}

a.btn-block {
    margin-bottom: 6px;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}



@media only screen and (max-device-width: 440px) {

    .glyphicon-cog, .glyphicon-align-justify {
        font-size: 2.1em;
    }

    .glyphicon-container {
        padding-left: 0px;
        right: 1px;
        margin-right: 0px;
        padding-right: 0px;
        /*border-style: dotted;
        border-width: 0.1px;*/
    }

    .row {
        margin-right: -20px;
        padding-right: 0px;
        /*border-style: dotted;
        border-width: 0.1px;*/
    }
    .col-xs-10, .col-xs-9, .col-xs-11 {
        max-width: 75%;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.6em;
    }



}