

/***** general page layout *****/
html {
    font-size: 14px;
    background-color: #FF5252;
    padding: 1.25em 0.5em 0.5em 0.5em;
    height: 100%;
    overflow-y: hidden;
}

body {
    overflow-y: auto;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    color: #fff;
    background-color: #02C8A7;
    font-family: "Montserrat", sans-serif;
    padding: 2.5em 0 0 0;
}


#ac-edit-org-cog {
    margin-right: 10px;
}

.radio-inline input {
    height: 20px;
    width: 20px;
}

#review-button {
    margin-top: 5px;
    box-shadow: 1px 1px 1px grey;

}

#ac-add-event-wrap {
    margin-right: -10px;
}

.ac-no-resize-input {
    resize: none;
    position: relative;
}

.ac-no-wrap-row {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 3px;
}

.navbar .navbar-brand.ac-smaller-font-nav {
    font-size: 1.4em;
}

.ac-message-container {
    min-width: 250px;
    width: 50%;
    background: #009999;
    padding: 10px 5px 10px 5px;
}

.ac-nav-allow {
    padding: 2em 15px 0 15px;
}

.ac-checkbox {
    height: 32px;
    width: 32px;
}

.ac-face-header {
    color: #A52A2A;
}

.ng-scope > .container {
    margin-bottom: 5em;
    text-shadow: 0.4px 0.4px 0.4px #000;
}

ul {
    list-style: none;
}

#map-row {
    margin-top: 10px;
    color: black;
}

#image-submit-button {
    margin-bottom: 5px;
}

.ac-title {
    font-size: 4em;
}

.ac-map-box {
    color: black;
    width: 100%;
    height: 350px;
    margin-top: 10px;
    text-shadow: none;
}

/* highlight glyphicons when focused for clarity */
a .glyphicon:hover {
    color: #FF5252;
}

a {
    cursor: pointer;
    text-shadow: 0.1px 0.1px 0.1px #000;
    color: #2200CC;
}

/* Space to tap footer glyphicons */
.navbar.navbar-fixed-bottom .glyphicon{
    padding-left: 1em;
}

/* Navbar text is black */
.navbar .glyphicon, .navbar .navbar-brand {
    color: white;
}

.navbar .btn.btn-lg.btn-block {
    margin-bottom: -6px;
}

/* Standardize header size and stop right
   glyphicons from floating left */
nav>.container>.navbar-header {
    float: none;
    height: 65px;
    margin-right: 0px;
}

.navbar p {
    font-size: 1.75em;
}

/* Give sufficient padding from right screen border */
.navbar.navbar-fixed-bottom {
    padding-right: 20px;
}

/* Make navbar black */
.navbar {
    background-color: #009999;
    opacity: 0.9999;
    border-color: #00cccc;
    padding-left: 10px;
    padding-right: 10px;
}

/* To stop the user from thinking the title page is clickable */
.navbar .navbar-brand {
    cursor: default;
    font-size: 1.8em;
    line-height: inherit;
}

.alert {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    text-shadow: none;
}

.ac-form-group {
    margin-bottom: 5px;
}

#map-input {
    max-width: 50%;
    margin-top: 8px;
    font-family: Roboto, sans-serif;
}


.ac-landing-button-group {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    color: #337ab7;
    background: #009999;
    padding: 5px 0 5px 0;
}

/* make buttons fit more appropriately on public landing page */
.ac-landing-button-group .btn {
    margin-top: 4px;
    margin-bottom: 0px;
}

/* Gives more space in public landing page buttons */
.ac-landing-button-group .row > div {
    margin-right: 0px;
}

/* search button for public landing page */
#ac-search-container-public {
    padding-left: 0.5px;
    padding-right: 0px;
}

/* signup button for public landing page */
#ac-sign-up-public {
    margin-left: -10px;
}


.row {
    margin-right: 0;
    margin-left: 0;
}

/* centers text */
.ac-center-text {
    text-align: center;
}


/* for better readability */
label {
    font-size: 22px;
}

.form-control {
    font-size: 16px;
}

/* highlight glyphicons when focused for clarity */
a .glyphicon:hover {
    color: red;
}
/* comply with requirements */
a:hover, a:focus {
    text-decoration: none;
}

.navbar-default .navbar-brand:hover {
    text-decoration: none;
    color: white;
}

.row img {
    max-width: 100% ;
    margin-bottom: 5px;
}

/* potentially useful class */
.ac-full-width {
    width: 100%;
}

.ac-message-button {
    line-height: 2.5em;
    font-size: 18px;
}

p {
    font-size: 1.25em;
    word-wrap: break-word;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

@media only screen and (min-device-width: 992px) {
    .ac-search-results {
        height: 380px;
        overflow-y: auto;
    }
}