.ac-container {
    padding-top: 5%;
    max-width: 75em;
}

.ac-landing-button-group {
    position: absolute;
    left: 15%;
    width: 70%;
    margin-right: auto;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/***** general page layout *****/
html {
    font-size: 14px;
    background-color: #F53240;
}

body {
    /* clear navbar */
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 16px;
    color: #FFF;
    background-color: #02C8A7;
}

/* centers text */
.ac-center-text {
    text-align: center;
}


/* for better readability */
label, .form-control {
    font-size: 16px;
}

/* highlight glyphicons when focused for clarity */
a .glyphicon:hover {
    color: red;
}

/* comply with requirements */
a:hover, a:focus {
    text-decoration: none;
}

/* potentially useful class */
.ac-full-width {
    width: 100%;
}


/* whitespace between button blocks */
.btn-block {
    margin-bottom: 6px;
}

p {
    font-size: 1.25em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

