.ac-container {
    padding-top: 5%;
    max-width: 75em;
    font-size: 110%;
}

.ac-landing-title {
}

.ac-landing-subtitle {

}

.ac-login {
    padding-right: 2px;
}

.ac-register {
    padding-left: 2px;
}

.ac-landing-button-group {
    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 70%;
    margin-right: auto;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/***** general page layout *****/
body {
    /* clear navbar */
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* centers text */
.ac-center-text {
    text-align: center;
}


/* for better readability */
label, .form-control {
    font-size: 16px;
}

/* highlight glyphicons when focused for clarity */
a .glyphicon:hover {
    color: red;
}

/* comply with requirements */
a:hover, a:focus {
    text-decoration: none;
}

/* potentially useful class */
.ac-full-width {
    width: 100%;
}


/* whitespace between button blocks */
.btn-block {
    margin-bottom: 6px;
}