<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back Button -->
                <p class="navbar-text pull-left">
                    <a hreg="" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    <!-- {{model.name}} -->
                    Event Name!
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Here is the date!</h2>
        </div>
        <div class="col-md-4">
            <h2>Here is the Location!</h2>
        </div>
    </div>
    <div>
        <div class="col-xs-12">
            <h2>Here is the time!</h2>
        </div>
    </div>
    <div>
        <div class="col-xs-12">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                In at rutrum sapien, eget ultrices ante. Vivamus elementum nunc
                tellus, eu porttitor neque mattis eu. Vivamus quis justo quam.
                Cras molestie aliquam enim quis hendrerit. Mauris nunc diam,
                rhoncus sit amet imperdiet in, sodales elementum tellus. Pellentesque
                mattis quam tortor, sit amet sollicitudin libero accumsan id. Aenean
                at ultricies metus, eget commodo arcu. Donec id lacinia odio, sit amet
                vulputate nulla. <br>

                Maecenas enim ligula, posuere at felis a, facilisis semper felis.
                Sed congue sodales mauris, a dictum arcu venenatis et. Vestibulum
                imperdiet feugiat nisi, non accumsan odio convallis maximus. Vestibulum
                luctus libero at neque dictum hendrerit. Nulla facilisi. Vestibulum ante
                ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                Vestibulum ac luctus nisl, quis vulputate erat. Phasellus imperdiet lacus
                eget quam malesuada ultrices. Maecenas id quam fermentum, auctor libero at,
                lobortis est. Sed volutpat massa in magna malesuada, in efficitur nisl fermentum.
                Praesent in mattis quam. Cum sociis natoque penatibus et magnis dis parturient
                montes, nascetur ridiculus mus. Cras at consequat eros. Aliquam tempus
                vulputate hendrerit.
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Here are pictures!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/08/Apple-Store-Palo-Alto.jpg">
        </div>
        <div class="col-md-4">
            <img src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/08/Apple-Store-Palo-Alto.jpg">
        </div>
        <div class="col-md-4">
            <img src="http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/08/Apple-Store-Palo-Alto.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="map" class="ac-map-box"></div>
        </div>
    </div>
</div>



<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Link -->
                <p class="navbar-text pull-right">
                    <a href="" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>