<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back Button -->
                <p class="navbar-text pull-left">
                    <a ng-click="model.goBack()" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <a class="navbar-brand">Event Info</a>
                <!-- Edit Event Button -->
                <p ng-if="model.ownerUser" class="navbar-text pull-right">
                    <a ng-click="model.editEvent()" class="navbar-link">
                      <span class="glyphicon glyphicon-cog">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>

<div class="container ac-nav-allow">
    <div class="row">
        <div class="col-sm-8">
            <h1>{{model.event.name}}</h1>
        </div>
        <div class="col-sm-4">
            <h2>Number Attending: {{model.followNumber}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h2 class="ac-face-header">Who?</h2>
            <h2>Hosted by:
                <b>
                    <a href="#/organization/{{model.event._organization}}">
                        {{model.orgName}}
                    </a>
                </b>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <h2 class="ac-face-header">When?</h2>
                <h2 ng-if="model.event.date">{{model.event.date}}</h2>
                <h2 ng-if="!model.event.date">No date provided</h2>
            </div>
            <div>
                <h2 ng-if="model.event.time">{{model.event.time}}</h2>
                <h2 ng-if="!model.event.time">No time provided</h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <h2 class="ac-face-header">Where?</h2>
                <h2 ng-if="model.event.location">{{model.event.location.address}}</h2>
                <h2 ng-if="!model.event.location">No location provided</h2>
            </div>
            <div class="row">
                <button ng-if="model.followed"
                        ng-click="model.unfollowEvent()"
                        class="btn btn-lg btn-danger">Cancel Attending</button>
                <button ng-if="model.notFollowed"
                        ng-click="model.followEvent()"
                        class="btn btn-warning btn-lg">Attend this Event</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2 class="ac-face-header">What?</h2>
            <h3 ng-if="model.event.description">{{model.event.description}}</h3>
            <h3 ng-if="!model.event.description">No description provided</h3>
        </div>
    </div>
    <div class="row" ng-if="model.event.images.length">
        <div class="col-xs-12">
            <h2>Here are pictures!</h2>
        </div>
        <div class="col-md-4 col-sm-6" ng-repeat="img in model.event.images">
            <img ng-src="/project/uploads/{{img}}">
            <button ng-if="model.ownerUser"
                    ng-click="model.deleteImage(img)"
                    class="btn btn-block btn-danger">Delete</button>
        </div>
    </div>
    <div class="row" ng-if="!model.event.images.length">
        <div class="col-xs-12">
            <h3>There are no pictures for this event</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="map" class="ac-map-box"></div>
        </div>
    </div>

</div>



<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Attend Event Button -->
                <p class="navbar-text pull-left">
                    <button ng-if="model.followed"
                            ng-click="model.unfollowEvent()"
                            class="btn btn-lg btn-danger">Cancel Attending</button>
                    <button ng-if="model.notFollowed"
                            ng-click="model.followEvent()"
                            class="btn btn-warning btn-lg">Attend this Event</button>
                </p>
                <!-- Login Button -->
                <p ng-if="!model.user" class="navbar-text pull-right">
                    <a role="button"
                       ng-click="model.goToLogin()"
                       class="btn btn-lg btn-block btn-primary">Login</a>
                </p>
                <!-- Account Button -->
                <p ng-if="model.user" class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}/account" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Home Button -->
                <p ng-if="model.user" class="navbar-text pull-right">
                    <a href="#/user/{{model.user._id}}" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>