<!-- LOGIN PAGE -->
<!-- No top navigation bar on login -->
<!-- Main Container -->
<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div ng-if="model.info" class="alert alert-info">
        {{model.info}}
    </div>
    <h1>Login</h1>
    <!-- Login form -->
    <form name="loginForm" ng-keyup="$event.keyCode == 13 && model.login(username,password)">
        <!-- Username -->
        <div class="form-group"
             ng-class="{ 'has-error': loginForm.username.$error.required && model.error || model.wrongError }">
            <input ng-model="username"
                   class="form-control"
                   autocorrect="off"
                   autocapitalize="off"
                   type="text"
                   id="username"
                   name="username"
                   required
                   placeholder="username">
            <label for="username"
                   class="control-label"
                   ng-show="loginForm.username.$error.required && model.error">Username is required</label>
        </div>
        <!-- Password -->
        <div class="form-group"
             ng-class="{ 'has-error': loginForm.password.$error.required && model.error || model.wrongError}">
            <input ng-model="password"
                   class="form-control"
                   type="password"
                   name="password"
                   id="password"
                   required
                   placeholder="password">
            <label for="password"
                   class="control-label"
                   ng-show="loginForm.password.$error.required && model.error">Password is required</label>
        </div>
    </form>
    <!-- Login Button -->
    <a ng-click="model.login(username, password)"
       role="button"
       class="btn btn-block btn-primary btn-lg">Login</a>
    <!-- Google login -->
    <a href="/auth/google" class="btn btn-danger btn-lg btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>
    <!-- Register Button -->
    <a href="#/register"
       role="button"
       class="btn btn-block btn-success btn-lg">Register</a>
    <!-- Register Button -->
    <a ng-click="model.goBack()"
       role="button"
       class="btn btn-block btn-danger btn-lg">Back</a>
</div>
<!-- no bottom navigation bar on login -->
