<!-- PAGE-NEW PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    New Page
                </a>
                <!-- Save and Confirm Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.createPage()" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- Error Message -->
    <div ng-if="model.missingName" class="alert alert-danger">
        {{model.missingName}}
    </div>
    <!-- Page Information Form -->
    <form>
        <!-- Name -->
        <div class="form-group">
            <label for="page-name">Name</label>
            <input ng-model="model.page.name"
                   class="form-control"
                   type="text"
                   id="page-name"
                   placeholder="Page Name">
        </div>
        <!-- Title -->
        <div class="form-group">
            <label for="page-title">Title</label>
            <input ng-model="model.page.title"
                   class="form-control"
                   type="text"
                   id="page-title"
                   placeholder="Page Title">
        </div>
    </form>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Button -->
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>