<!-- PAGE-LIST PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back Button -->
                <p class="navbar-text pull-left">
                    <a ng-href="#/user/{{model.userId}}/website " class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Pages
                </a>
                <!-- Add Page Button -->
                <p class="navbar-text pull-right">
                    <a href="page-new.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- Example Pages hardcoded -->
    <!-- ac-row allows the glyphicons to work -->
    <div ng-repeat="page in model.pages" class="row ac-row">
        <div class="col-xs-9">
            <h3><a href="#">{{page.name}}</a></h3>
        </div>
        <!-- groups glyphicons and positions them relative to ac-row -->
        <div class="ac-glyphicon-container">
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </div>
    </div>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Button -->
                <p class="navbar-text pull-right">
                    <a ng-href="#/user/{{userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Website-list Link Button -->
                <p class="navbar-text pull-right">
                    <a href="../views/website/website-list.html" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>
