<!-- PAGE-EDIT PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a href="page-list.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Edit Page
                </a>
                <!-- Save and Confirm Button -->
                <p class="navbar-text pull-right">
                    <a href="page-list.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- Website Details Form -->
    <form>
        <!-- Page Name -->
        <div class="form-group">
            <label for="page-name">Page Name</label>
            <input class="form-control"
                   type="text" id="page-name"
                   placeholder="Page Name"
                   value="Blogging is fun">
        </div>
        <!-- Page Description -->
        <div class="form-group">
            <label for="page-title">Page Title</label>
            <input class="form-control"
                   id="page-title"
                   placeholder="Page Title"
                   value="Blogging Forever">
        </div>
    </form>
    <!-- Delete Page -->
    <div class="row">
        <div class="col-xs-12">
            <a href="page-list.view.client.html"
               role="button"
               class="btn btn-block btn-danger btn-lg">Delete</a>
        </div>
    </div>

</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Button -->
                <p class="navbar-text pull-right">
                    <a href="../views/user/profile.html" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Website-list Link Button -->
                <p class="navbar-text pull-right">
                    <a href="../views/website/website-list.html" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>
