<!-- PAGE-NEW PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a href="page-list.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand" href="#">
                    New Page
                </a>
                <!-- Save and Confirm Button -->
                <p class="navbar-text pull-right">
                    <a href="page-list.html" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- Page Information Form -->
    <form>
        <!-- Name -->
        <div class="form-group">
            <label for="page-name">Name</label>
            <input class="form-control" type="text" id="page-name" placeholder="Page Name">
        </div>
        <!-- Title -->
        <div class="form-group">
            <label for="page-title">Title</label>
            <input class="form-control" type="text" id="page-title" placeholder="Page Title">
        </div>
    </form>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Button -->
                <p class="navbar-text pull-right">
                    <a href="../views/user/profile.html" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Website-list Link Button -->
                <p class="navbar-text pull-right">
                    <a href="../views/website/website-list.html" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>