<!-- LOGIN PAGE -->
<!-- No top navigation bar on login -->
<!-- Main Container -->
<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div ng-if="model.info" class="alert alert-info">
        {{model.info}}
    </div>
    <h1>Login</h1>

    <!-- Login form -->
    <form name="loginForm"
          class="ac-form"
          novalidate
          ng-keyup="$event.keyCode == 13 && model.login(username,password)">
        <!-- Username -->
        <div class="form-group"
             ng-class="{ 'has-error': loginForm.username.$error.required && model.error || model.wrongError }">
            <input ng-model="username"
                   class="form-control"
                   type="text"
                   id="username"
                   name="username"
                   required
                   placeholder="username">
            <label for="username"
                   class="control-label"
                   ng-show="loginForm.username.$error.required && model.error">Username is required</label>
        </div>
        <!-- Password -->
        <div class="form-group"
             ng-class="{ 'has-error': loginForm.password.$error.required && model.error || model.wrongError}">
            <input ng-model="password"
                   class="form-control"
                   type="password"
                   name="password"
                   id="password"
                   required
                   placeholder="password">
            <label for="password"
                   class="control-label"
                   ng-show="loginForm.password.$error && model.error">Password is required</label>
        </div>

    </form>
    <!-- Login Button -->
    <div class="row">
        <div class="col-xs-12">
            <a ng-click="model.login(username, password)"
               role="button"
               class="btn btn-block btn-primary btn-lg">Login</a>
        </div>
    </div>
    <!-- Register Button -->
    <div class="row">
        <div class="col-xs-12">
            <a href="#/register"
               role="button"
               class="btn btn-block btn-success btn-lg">Register</a>
        </div>
    </div>
    <!-- Facebook Button -->
    <a href="/auth/facebook" class="btn btn-info btn-block btn-lg">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>
    <a href="/">Back to Homepage</a>
</div>
<!-- no bottom navigation bar on login -->
