<!-- REGISTER PAGE -->
<!-- Main Container -->
<div class="container">
    <h1>Register</h1>
    <!-- Registration form -->
    <form>
        <!-- Username -->
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   id="username"
                   placeholder="username">
        </div>
        <!-- Password -->
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   id="password"
                   placeholder="password">
        </div>
        <!-- Verify Password -->
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   id="ver-password"
                   placeholder="verify password">
        </div>
    </form>
    <!-- Register Button -->
    <div class="row">
        <div class="col-xs-12">
            <a href="#/user/17"
               role="button"
               class="btn btn-block btn-primary btn-lg">Register</a>
        </div>
    </div>
    <!-- Cancel Button -->
    <div class="row">
        <div class="col-xs-12">
            <a href="#/login"
               role="button"
               class="btn btn-block btn-danger btn-lg">Cancel</a>
        </div>
    </div>
</div>
