<!-- WIDGET HEADER PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-click="model.checkNew()" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Edit Widget
                </a>
                <!-- Save and Confirm button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateWidget()" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- Warning Message -->
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <!-- Header Information Form -->
    <form>
        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Name"/>
        </div>
        <!-- Text -->
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   id="text"
                   placeholder="Text"/>
        </div>
        <!-- Size -->
        <div class="form-group">
            <label for="size">Heading Size (smaller number is bigger size)</label>
            <select ng-model="model.widget.size" class="form-control" id="size">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>`
    </form>
    <!-- Delete Button -->
    <div class="row">
        <div class="col-xs-12">
            <a role="button"
               class="btn btn-danger btn-block btn-lg"
               ng-click="model.deleteWidget()">Delete</a>
        </div>
    </div>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Link Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.checkNew" href="#/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>