<!-- WIDGET HEADER PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-click="model.checkNew()" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Edit Widget
                </a>
                <!-- Save and Confirm button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateWidget()" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <!-- Warning Message -->
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <!-- HTML Input Fields -->
    <form name="htmlForm">
        <div class="form-group"
             ng-class="{ 'has-error': htmlForm.name.$error.required && model.error}">
            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   class="form-control"
                   type="text"
                   name="name"
                   id="name"
                   required
                   placeholder="name">
            <label for="name"
                   class="control-label"
                   ng-show="htmlForm.name.$error.required && model.error">Name is required</label>
        </div>
        <div class="form-group">
            <label for="html-box">Html</label>
            <div ng-model="model.widget.text" text-angular id="html-box"></div>
        </div>
    </form>


    <!-- Delete Widget Button -->
    <div class="row">
        <div class="col-xs-12">
            <a role="button"
               class="btn btn-danger btn-block btn-lg"
               ng-click="model.deleteWidget()">Delete</a>
        </div>
    </div>

</div>

<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Link Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.checkNew" href="#/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>