<!-- WIDGET CHOOSE PAGE --
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a href="widget-list.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Choose Widget
                </a>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- WIDGETS -->
    <!-- Header (WORKS) -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="widget-header.view.client.html">Header</a></h3>
        </div>
    </div>
    <!-- Label -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="#">Label</a></h3>
        </div>
    </div>
    <!-- HTML -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="#">HTML</a></h3>
        </div>
    </div>
    <!-- Text Input -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="#">Text Input</a></h3>
        </div>
    </div>
    <!-- Link -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="#">Link</a></h3>
        </div>
    </div>
    <!-- Button -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="#">Button</a></h3>
        </div>
    </div>
    <!-- Image (WORKS) -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="widget-image.view.client.html">Image</a></h3>
        </div>
    </div>
    <!-- YouTube (WORKS) -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="widget-youtube.view.client.html">YouTube</a></h3>
        </div>
    </div>
    <!-- Data Table -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="#">Data Table</a></h3>
        </div>
    </div>
    <!-- Repeater -->
    <div class="row">
        <div class="col-xs-12">
            <h3><a href="#">Repeater</a></h3>
        </div>
    </div>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Button -->
                <p class="navbar-text pull-right">
                    <a href="../user/profile.view.client.html" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Website-list Link Button -->
                <p class="navbar-text pull-right">
                    <a href="../views/website/website-list.html" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>