<!-- WIDGET IMAGE PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-click="model.checkNew()" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Edit Widget
                </a>
                <!-- Save and Confirm Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateWidget()" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- Warning Message -->
    <div ng-if="model.missingField" class="alert alert-danger">
        {{model.missingField}}
    </div>
    <!-- Image Information Form -->
    <form>
        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.widget.name"
                   type="text"
                   class="form-control"
                   id="name"
                   placeholder="Name"/>
        </div>
        <!-- Text -->
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text"
                   type="text"
                   class="form-control"
                   id="text"
                   placeholder="Text"/>
        </div>
        <!-- URL -->
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model="model.widget.url"
                   type="url"
                   class="form-control"
                   id="url"
                   placeholder="Image URL"/>
        </div>
        <!-- Width -->
        <!-- Throws errors because of type=number -->
        <div class="form-group">
            <label for="width">Width (percentage of the screen)</label>
            <input ng-model="model.widget.width"
                   type="number"
                   class="form-control"
                   id="width"
                   placeholder="Width"/>
        </div>
        <!-- Upload -->
        <div class="form-group">
            <label for="upload">Upload</label>
            <input type="file"
                   class="form-control"
                   id="Upload"/>
        </div>
    </form>
    <!-- Upload Image Button -->
    <div class="row">
        <div class="col-xs-12">
            <button role="button" class="btn btn-primary btn-block btn-lg">
                Upload Image
            </button>
        </div>
    </div>
    <!-- Delete Widget Button -->
    <div class="row">
        <div class="col-xs-12">
            <a role="button"
               class="btn btn-danger btn-block btn-lg"
               ng-click="model.deleteWidget()">Delete</a>
        </div>
    </div>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.checkNew" href="#/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>