<!-- WIDGET HEADER PAGE -->
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a ng-click="model.goBack()" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand">
                    Search Flickr
                </a>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<span id="top"></span>
<div class="container">
    <!-- Warning Message -->
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <!-- Search Bar -->
    <div class="input-group" id="ac-flickr-search" ng-keyup="$event.keyCode == 13 && model.initialSearch(searchText)">
        <input  ng-model="searchText" type="text" class="form-control"/>
        <span class="input-group-btn">
            <a ng-click="model.initialSearch(searchText)" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>

    <!-- Loading -->
    <div ng-if="model.loading" class="row">
            <h1 class="ac-center-text">
                Loading
            </h1>
    </div>
    <!-- Photos -->
    <div class="row ac-flickr-row">
        <div class="col-xs-4 ac-flickr-col-xs-4" ng-repeat="photo in model.photos.photo">
            <img class="ac-flickr-img" ng-click="model.selectPhoto(photo)"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg"/>
        </div>
    </div>



    <!-- Previous Page Button -->
        <div class="col-xs-6">
            <a role="button"
               ng-if="model.searchText"
               id="previous-page"
               class="btn btn-info"
               ng-click="model.previousPage()">Previous Page</a>

    </div>
    <!-- Next Page Button -->
    <div class="row">
        <div class="col-xs-6 ac-flickr-button-row">
            <a role="button"
               class="btn btn-info"
               ng-if="model.searchText"
               ng-click="model.nextPage()">Next Page</a>
        </div>

</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Link Button -->
                <p class="navbar-text pull-right">
                    <a ng-click="model.checkNew" href="#/user/{{model.userId}}" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>