<!DOCTYPE html>
<html lang="en">
<head>
    <!-- didn't scale to 1.25 because that would ruin my layout, used @media tags instead -->
    <meta lang="en" charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- APPLE META TAGS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Youtube Widget</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<!-- WIDGET YOUTUBE PAGE -->
<body>
<!-- Header Navigation Bar -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <!-- Back/Cancel Button -->
                <p class="navbar-text pull-left">
                    <a href="widget-list.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                    </a>
                </p>
                <!-- Page Title -->
                <a class="navbar-brand" href="#">
                    Widget Edit
                </a>
                <!-- Save and Confirm Button -->
                <p class="navbar-text pull-right">
                    <a href="widget-list.view.client.html" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>
<!-- Main Container -->
<div class="container">
    <!-- Youtube Widget Information Form -->
    <form>
        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   value="Title"
                   class="form-control"
                   id="name"
                   placeholder="Name"/>
        </div>
        <!-- Text -->
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text"
                   value="This is a youtube video"
                   class="form-control"
                   id="text"
                   placeholder="Text"/>
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="url"
                   value="https://www.youtube.com/embed/GunaXxJifPA"
                   class="form-control"
                   id="url"
                   placeholder="Youtube URL"/>
        </div>
        <!-- Width -->
        <div class="form-group">
            <label for="width">Width</label>
            <input type="text"
                   value="75%"
                   class="form-control"
                   id="width"
                   placeholder="Width"/>
        </div>
    </form>
    <!-- Delete Widget Button -->
    <div class="row">
        <div class="col-xs-12">
            <a role="button"
               class="btn btn-danger btn-block btn-lg"
               href="widget-list.view.client.html">Delete</a>
        </div>
    </div>
</div>
<!-- Footer Navigation Bar -->
<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <!-- Profile Button -->
                <p class="navbar-text pull-right">
                    <a href="../user/profile.view.client.html" class="navbar-link">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </p>
                <!-- Website-list Link Button -->
                <p class="navbar-text pull-right">
                    <a href="../../views/website/website-list.html" class="navbar-link">
                        <span class="glyphicon glyphicon-home"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</footer>
</body>
</html>