<div class="container ac-container">
    <!-- Title -->
    <header>
        <div class="row ac-landing-title">
            <div class="col-xs-12">
                <h1>Welcome to the Event Horizon</h1>
            </div>
        </div>
    </header>
    <!-- Subtitle -->
    <div class="row ac-landing-subtitle">
        <div class="col-xs-12">
            <h2>The Most Interesting Events All in One Place</h2>
        </div>
    </div>
    <!-- Description -->
    <div class="row">
        <div class="col-xs-12">
            <p>
                Event Horizon is a platform for event goers to find, coordinate, and remember the events they are interested in attending. Event planners can post their free and paid events here under a variety of 
                categories allowing them to reach out to an audience looking to have a good time. Interested event goers can reach out to planners and send them direct messages and be responded to, and if planners intend on hosting multiple events, they can even allow event goers to rate and comment on their public profile. Event goers can choose to follow events and view them listed on their profile page. They can also view dynamically generated weather updates for the date of events that they view.
            </p>
        </div>
    </div>
    <!-- Bottom buttons -->
    <div class="ac-landing-button-group">
        <div class="row">
            <!-- Login -->
            <div class="col-sm-6">
                <a role="button" ng-href="#/login" class="btn btn-lg btn-block btn-primary">Login</a>
            </div>
            <!-- Register -->
            <div class="col-sm-6">
                <a role="button" ng-href="#/register" class="btn btn-lg btn-block btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</div>