<div class="container ac-container">
    <div class="row">
        <!-- Login -->
        <div class="col-xs-2 col-xs-offset-5 ac-top-login">
            <a role="button" ng-href="#/login" class="btn btn-lg btn-primary">Login</a>
        </div>
    </div>
    <!-- Title -->
    <header>
        <div class="row ac-landing-title">
            <div class="col-xs-12">
                <h1>Welcome to StockShare</h1>
            </div>
        </div>
    </header>
    <!-- Subtitle -->
    <div class="row ac-landing-subtitle">
        <div class="col-xs-12">
            <h2>The Social Media Platform for Stock Enthusiasts</h2>
        </div>
    </div>
    <!-- Description -->
    <div class="row">
        <div class="col-xs-12">
            <p ng-if="!model.expanded">StockShare is a platform for traders to follow and discuss recent events.
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
                StockShare is a platform for traders to follow and discuss recent events.
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
                StockShare is a platform for traders to follow and discuss recent events.
            </p>
            <h2>
                More Things to Know
            </h2>
            <p>
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
                StockShare is a platform for traders to follow and discuss recent events.
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
                StockShare is a platform for traders to follow and discuss recent events.
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
            </p>
            <p ng-if="model.expanded">
                StockShare is a platform for traders to follow and discuss recent events.
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
                StockShare is a platform for traders to follow and discuss recent events.
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
                StockShare is a platform for traders to follow and discuss recent events.
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
                StockShare is a platform for traders to follow and discuss recent events.
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
                StockShare is a platform for traders to follow and discuss recent events.
                In Stockshare, you can create a portfolio with its own blog posts, view current
                prices, comment on specific stocks, and view others comments.
            </p>
        </div>
    </div>
    <!-- Bottom buttons -->
    <div class="ac-landing-button-group">
        <div class="row">
            <!-- Login -->
            <div class="col-xs-6 ac-bottom-login">
                <a role="button" ng-href="#/login" class="btn btn-lg btn-block btn-primary">Login</a>
            </div>
            <!-- Register -->
            <div class="col-xs-6 ac-register">
                <a role="button" ng-href="#/register" class="btn btn-lg btn-block btn-primary">Sign Up</a>
            </div>
        </div>
    </div>
</div>