<div class="container">
    <!-- Top bar -->
    <div class="ac-landing-button-group">
        <!-- Not signed in -->
        <div class="row" ng-if="!model.user">
            <!-- Login -->
            <div class="col-xs-5">
                <a role="button" ng-href="#/login" class="btn btn-lg btn-block btn-primary">Login</a>
            </div>
            <!-- Register -->
            <div class="col-xs-5" id="ac-sign-up-public">
                <a role="button" ng-href="#/register" class="btn btn-lg btn-block btn-primary">Sign Up</a>
            </div>
            <div class="col-xs-2" id="ac-search-container-public">
                <a role="button"
                   ng-href="#/search"
                   class="btn btn-lg btn-block btn-info"><span class="glyphicon glyphicon-search"></span></a>
            </div>
        </div>
        <!-- Signed in -->
        <div class="row" ng-if="model.user">
            <div class="col-xs-6">
                <a role="button"
                   ng-href="#/user/{{model.user._id}}"
                   class="btn btn-lg btn-block btn-primary"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="col-xs-6">
                <a role="button"
                   ng-href="#/search"
                   class="btn btn-lg btn-block btn-info"><span class="glyphicon glyphicon-search"></span></a>
            </div>
        </div>
    </div>
    <!-- Title -->
    <header>
        <div class="row ac-landing-title">
            <div class="col-xs-12">
                <h1>Welcome to the Event Horizon</h1>
            </div>
        </div>
        <!-- Subtitle -->
        <div class="row ac-landing-subtitle">
            <div class="col-xs-12">
                <h2>The Most Interesting Events in One Place</h2>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" src="/image/landing2.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- First Block -->
            <h3>Find Events!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Event Horizon is a platform for finding events all around the world. Its database of events is open
                for anyone to browse, and with just a username and password to pick, you can become a member and
                follow events, rate hosting organizations, and direct message those same hosts with any questions.
            </p>
        </div>
    </div>
    <!-- Second block -->
    <div class="row">
        <div class="col-xs-12">
            <h3>Starting your own event</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Event planners can create organizations which they can post events from, then use real Google Maps data
                to show their users exactly where in the world the event is. To become an event planner, just check
                the event planner box during sign-up or if you forget, go to your account and check the box from there.
            </p>
        </div>
    </div>
    <!-- Third Block -->
    <div class="row">
        <div class="col-xs-12">
            <h3>And More...</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li>
                    <p>
                        Post Pictures! Once you have created your event, go to that event's edit page to add
                        any pictures you think will showcase why people should come!
                    </p>
                </li>
                <li>
                    <p>
                        Follow events to have them displayed on your profile page for easy finding later!
                    </p>
                </li>
                <li>
                    <p>
                        Is event planning your profession? Open up a different organization for each client, and
                        when you recieve messages from potential event goers, they will be labeled with the
                        organization they are responding for!
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- For ease of acccess for testers -->
    <br>
    <a href="/">Back to Root Page</a>
</div>