<div class="container">
    <div class="row">
        <form>
            <div class="form-group ac-form-group">
                <label for="search">Search for an event near you!</label>
                <input ng-model="searchTerm" type="text" id="search" class="form-control">
            </div>
        </form>
        <button ng-click="model.searchMap(searchTerm)"
                class="btn btn-lg btn-block btn-primary">Submit</button>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="map" class="ac-map-box"></div>
        </div>
        <div class="col-md-6 ac-event-list">
                <h1>PAX East</h1>
                <h1>Outdoor Ballroom Dancing</h1>
                <h1>Sir Scoops Alot Boston Extravanganza</h1>
                <h1>Freedom Trail Honorary Common Celebration</h1>
                <h1>Freedom Trail Honorary Common Celebration</h1>
                <h1>Freedom Trail Honorary Common Celebration</h1>


        </div>
    </div>
</div>
